
.robot {
  display:block;
  position: relative;
  height: 79px;
  width: 79px;
  top:10px;
  left:10px;

  line-height: 80px;
  text-align: center;
  background-color: rgba(255, 0, 0, 0.6);
  border-radius: 3px;
  overflow:visible;

  @for $x from 0 to 5 {
    @for $y from 0 to 5 {
      &.at-#{$x}-#{$y} {
        grid-area: unquote((6-($y+1))+'/'+($x+1)+'/'+ (6-($y+1))+'/'+($x+1));
      }
    }
  }

  .robot-inner {
    transition: transform 0.3s linear;
    transform: rotate(-90deg);
  }

  .robot-inner:before {
    content: '➢';
    display: block;
    color:white;
    font-size: 60px;
  }

  .bubble {
    position: absolute;
    background: white;
    width: 320px;
    font-weight:bold;
    left:70px;
    bottom:60px;
    padding: 12px;
    line-height: 36px;
    border-radius:12px;
    border: 2px solid black;
    box-shadow: 2px 2px 20px rgba(0,0,0,0.7);
    &.error {
      color:red;
      border-color:red;
    }
  }


  &.EAST .robot-inner { transform:rotate(0); }
  &.SOUTH .robot-inner { transform:rotate(90deg); }
  &.WEST .robot-inner { transform:rotate(180deg); }
}