
.App-header {

  display: block;
  font-size: calc(10px + 2vmin);
  color: white;
  h1 {
    font-family: 'Orbitron', sans-serif;
    margin-bottom: 24px;
  }
  h2 {
    font-family: 'Orbitron', sans-serif;
    font-size: 26px;
    margin-top: 0;
    margin-bottom: 48px;
  }
}

.App-main {
  margin-top: 24px;
}
