body {
  margin: 24px;
  background-color: #282c34;
  font-family: 'Gugi', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@import 'elements/grid/grid', 'elements/controls/controls', 'elements/robot/robot';